html {
		font-family:Helvetica, Sans-serif;
		font-size:12px;
}

body {
	position:relative;
}

p {
	margin:5em;
}
a {
	color:#000;
}
/* begin switch styles */
[data-component-type=custom-context-menu] {
	
}

.custom-context-menu {
	position:absolute;
	background:#eee;
	padding:.5em 0 .5em 0;
	top:0;
	left:0;
}

.custom-context-menu ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

.custom-context-menu ul li {
	border-bottom: 1px solid #dedede;
	padding:.75em 4em .75em 2em;
}

.custom-context-menu ul li:last-child {
	border-bottom: 0;
}

.custom-context-menu ul a {
	text-decoration: none;
}

.custom-context-menu ul a:hover {
	text-decoration: underline;
}