html {
	font-family:Helvetica, Sans-serif;
	font-size:11px;
	font-weight:300;
}

.collapsed {
	position:relative;
	height:100px;
	overflow:hidden;
}
.collapsed div {
	position:absolute;
	bottom:0;
}

.button {
	position: absolute;
	text-align: center;
	width:100%;
	cursor: pointer;
	height:30px;
	background: rgba(240, 240, 240, 0.9);
	font-size:1.25em;
	line-height:30px;
}

#coordinates {
	font-size:1.5em;
	line-height:1.5em;
}
#coordinates span {
	color:blue;
}