<!DOCTYPE html>
<html ng-app="uiComponentApp">
<head lang="en">
	<meta charset="utf-8">
	<title>View More component</title>
	<script src="js/angular.min.js"></script>
	<script src="js/controllers.js"></script>
</head>

<style>
html {
	font-family:Helvetica, Sans-serif;
	font-size:11px;
}

.collapsed {
	position:relative;
	height:100px;
	overflow:hidden;
}
.collapsed div {
	position:absolute;
	bottom:0;
	text-align: center;
	width:100%;
	background:#fff;
}
</style>

<body>

<header>
	<h1>
		<a href="index.html">UI Components</a>
	</h1>
</header>
<h2>
	View More component
</h2>

<!-- Begin: view more component example -->
<div ng-controller="ViewMoreController" ng-class="{collapsed: state.isCollapsed}">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis bibendum augue, sit amet pretium lacus iaculis vitae. Suspendisse lorem felis, luctus non pellentesque sit amet, ultricies non neque. Aliquam volutpat eleifend lorem, vel sagittis mi cursus quis. Fusce tempus et erat eu dictum. Nullam a congue nulla, vel eleifend elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eu gravida ipsum. Suspendisse scelerisque lacus eu ex pharetra sagittis. Nullam sed imperdiet sapien. Maecenas finibus felis nec felis euismod, id tincidunt libero pharetra. Proin viverra hendrerit ipsum, et vulputate eros lobortis ac. Integer commodo finibus dignissim.
	</p>
	<p>
		Donec in vestibulum ante, at dictum purus. In in efficitur sapien. Vestibulum non dignissim dui. Sed euismod ultricies nibh, ac maximus nisi. Ut sit amet auctor sapien. In vitae fermentum sapien, ut pharetra turpis. Vestibulum feugiat laoreet lorem in egestas. Sed sit amet sapien sollicitudin, placerat tellus id, fringilla velit. Quisque vel lacus non orci volutpat cursus euismod ut est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ultricies nisl a eros volutpat, ac pretium justo fermentum. Morbi ornare, erat id imperdiet mollis, ipsum nibh feugiat ex, consequat dignissim sem massa quis neque. Pellentesque ultrices et nisi in placerat.
	</p>
	<p>
		Vestibulum vitae hendrerit dolor. Morbi congue turpis non diam sollicitudin, eu facilisis mauris posuere. Ut in ante et ante sodales eleifend id sit amet eros. Nunc ac imperdiet mauris. In venenatis blandit nulla, sit amet tristique purus facilisis elementum. Aenean eros enim, suscipit et augue finibus, finibus blandit sapien. Cras eros velit, aliquam sed placerat nec, auctor nec nunc. In sit amet luctus felis. Donec ut auctor velit.
	</p>
	<div ng-click="toggle()" ng-model="text.link">
		View {{text.link}}
	</div>
</div>
<!-- End: view more component example -->

</body>

</html>